@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('Nav.css');
@import url('Menu.css');
@import url('not-found.css');


:root {
    --babyPowder: #F5F6F3;
    --frenchGrey: #D0D4DD;
    --richBlack: #161624;
    --pennBlue: #001A52;
    --bigTextUnit: 30pt;
    --mediumTextUnit: 18pt;
    --smallTextUnit: 12pt;
  }


body {
    margin: 0;
    background-color: var(--babyPowder);
    color: var(--richBlack);
}

.crimson-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-medium {
    font-size: var(--mediumTextUnit);
}

.simple-link {
    color: var(--richBlack);
    text-decoration: none;
}

.simple-link:hover {
    color: var(--pennBlue);
    text-decoration: underline;
}