
#mainNavOuter {
    height: 100px;
    border-bottom: 3px solid var(--richBlack);
    display: flex;
    align-items: center;
}

#mainNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


#titleBlock {
    margin-left: 14pt;
    height: 100%;
    display: flex;
    align-items: center;
}

#titleText {
    margin-left: 4pt;
}

.mainTitle {
    font-size: var(--bigTextUnit);
    margin: 0;
    margin-top: -4pt;
}

.mainSubTitle {
    font-size: 14pt;
    margin: 0;
    margin-top: -6pt;
}
    
.navLinks {
    font-size: var(--smallTextUnit);
    color: var(--richBlack);
    text-decoration: none;
    margin-right: 12pt;
}

.navLinks:hover {
    text-decoration: underline;
}

#rightControls {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobileNav {
    display: none;
}

.navButton {
    background-color: var(--richBlack);
    color: var(--babyPowder);
    font-size: var(--smallTextUnit);
    margin-right: 16pt;
    padding: 6pt 12pt;
    text-decoration: none;
    border-radius: 15px;
    border: none;
}

.navButton:hover {
    background-color: var(--pennBlue);
    cursor: pointer;
}

.hamburger-react {
    margin-right: 14pt;
}

/*Media Querries*/
@media (max-width: 596px) {
    #logoBlock{
        display: none;
    }
    .mainSubTitle {
        display: none;
    }   
}